.container-fluid
  %h1.text-center.my-5
    %span#change.text-primary
      Любой исполнитель
    %br
    %span
      на ваш праздник
    %hr.w-50.border-primary
    .lead
      Организация вашего праздника никогда еще не была настолько простой. Мы собрали лучших исполнителей, чтобы сделать ваш праздник незабываемым.

  .row.justify-content-center
    .col-lg-6.col-12
      = link_to 'Спланировать праздник', planner_path, class: 'btn btn-primary btn-lg btn-block'
.container-fluid.mt-5.bg-primary
  .container.py-5
    %h2.h3.text-center.text-white.mt-3
      My Party Planner - это сервис для планирования и организации вашего праздника
    .row.mt-3
      .col-4.text-white.text-justify
        .lead.text-center
          %em
            Планируйте
        %hr.border-white.w-50
        Создайте план идеального праздника и cкорректируйте его под свой бюджет.
        Мы покажем актуальные цены на праздничные услуги в вашем городе.
      .col-4.text-white.text-justify
        .lead.text-center
          %em
            Бронируйте
        %hr.border-white.w-50
        Подберите профессиональных исполнителей из вашего города.
        Бронируйте дату и обсуждайте детали не выходя из дома.
      .col-4.text-white.text-justify
        .lead.text-center
          %em
            Делитесь
        %hr.border-white.w-50
        Поделитесь своим праздником с другими. Добавьте фотоотчет с мероприятия и
        оставьте отзыв о работе каждого исполнителя.