.container-fluid
  %h1.text-center.h4.my-5
    Давайте спланируем ваш идеальный праздник!
  %hr.w-50
  .row.text-center
    .col-3
      .lead
        Локация
      = link_to 'Выбрать локацию', locations_path
    .col-3
      .lead
        Исполнители
      = link_to 'Выбрать исполнителя'
    .col-3
      .lead
        Активности
      = link_to 'Выбрать программу'
    .col-3
      .lead
        Реквизит и декор
      = link_to 'Выбрать реквизит'